body {
  font-family: 'Open Sans Condensed';
  padding: 20px 40px;
}

/* don't use link decorations site wide */
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}